<div class='container'>
  <form [formGroup]="searchForm">
        <select  class="form-inputs" formControlName="sortOption"   >
            <option *ngFor="let sortBy of sortOptionData" [value]="sortBy" >{{ sortBy }}</option>
        </select>
        <input type="text" class="form-inputs" formControlName="searchString" placeholder="Search">
        <button  name="Search" (click)="search()" class="form-inputs">
          <img src="../../assets/search-icon-glass.png" width="10px" height="10px">
        </button>

  </form>
</div>
