<div class='container'>
  <form [formGroup]="searchForm">
    
        <select  formControlName="sortOption"   >
            <option *ngFor="let sortBy of sortOptionData" [value]="sortBy" >{{ sortBy }}</option>
        </select>  
        <div class="form-inputs">
        <input type="text" class="" formControlName="searchString" placeholder="Search">
        <button  name="Search" (click)="search()" >
          <img src="../../assets/search-icon-glass.png" width="10px" height="10px">
        </button>
      </div>
      
      
  </form>
</div>
