.container{
  background-color: #0077B5;
  form{
    margin: 0px 20% 0px 20%;
    height: 50px;
    justify-content:flex-start;
    align-items: center;
    width: auto;
    display:flex;
    padding:5px;
    select.form-inputs{
      border-radius: 5px;
      padding-top:9px;
      padding-bottom:9px;
      margin-right: 50px;
      margin-left:0px;
    }
    .form-inputs{
      padding: 10px;
      margin:5px;
      border:none;
      &:focus{
        outline: none;
      }
    }
    input.form-inputs{
      border-radius: 5px 0 0px 5px;
      margin-right: 0px;
    }
    button.form-inputs{
      border-radius: 0px 5px 5px 0px;
      margin-left: 0px;
      margin-right: 0px;
      background: white;
    }
  }

}
