.card{
  border: 1px solid lightgrey;
  border-bottom: 2px solid grey;
  width: inherit;
  margin-top:5px;
  background: white;
  display: flex;
  flex-direction: column;
  .profile-summary{
    display: flex;
    min-height: 130px;
    margin-top: 5px;
    margin-bottom: 10px;
    .avatar{
      flex :  0 10%;
      display:flex;
      justify-content: center;
      img{
        border-radius: 50%;
        height: 100px;
        width: 100px;
      }
    }
    .profile-basic-info{
        flex :  0 90%;
        margin-top: 17px;
        margin-left: 10px;
        margin-right: 10px;
        .name{
        padding:10px 0px 10px 0px;
        font-size: larger;
        }
        .subcontent1{
            padding:5px 0px 5px 0px;
            font-size: large;
        }
        .subcontent2{
            font-size: medium;
            padding:3px 0px 3px 0px;
            &.container{
                display: flex;
                justify-content: space-between;
            }
        }
    }
   }
   .profile-detailed{
    display: flex;
    *{
        width:100%;
    }
    }
   .btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

    &.btn-primary{
        color: #fff;
        border-color: #2e6da4;
        &.outline {
            background-color: transparent;
            color: inherit;
            transition: all .25s;
            color: #428bca;
            &:hover
            {
                color: #fff;
                background-color: #337ab7;
            }
        }       
    }
   }
    

}



