<div class="card">
      <div class="profile-summary">
          <div class='avatar'>
            <img src="{{user.avatarUrl}}">
            </div>
            <div class="profile-basic-info">
               <div class="name">{{user.login}}</div>
               <div class="subcontent1">
                 <label>Profile Link: </label> {{user.profileUrl}}</div>
               <div class="subcontent2">
                 <label>Score:</label> {{user.score}}
               </div>
               <div class="subcontent2 container">
                 <div>
                    <label>Type:</label> {{user.type}}
                 </div>
                 <a class="btn btn-primary outline" *ngIf="!isOpened" (click)="getUserRepoDetails(user.repos_url)">Details</a>
                 <a class="btn btn-primary outline" *ngIf="isOpened" (click)="isOpened=!isOpened">Collapse</a>
                </div>
            </div>
      </div>
      <div class="profile-detailed" *ngIf="repoList && isOpened">
          <app-details-table [details]="repoList"></app-details-table>
      </div>

</div>
