.container{
    background: #f8f8fa;
    display: flex;
    flex-direction: column;
    .results{
        display: flex;
        flex-direction: column;
        margin: 0px 20% 0px 20%;
    }
    app-paginate {
        align-self: flex-end;
    }
}